body {
    text-align: center;
    background-color: rgb(255, 128, 0);
}
.capa{
    width: 95%;
}
.beneficio{
    text-align: left;
    background-color: blueviolet;
    display: inline-block;
}
ul{
    display: inline-block;
    vertical-align: top;
    font-size: 26px;
    margin-right: 290px;
}
li{
    padding: 25px;
}
.foto-beneficios{
    width: 30%;
    border-radius: 20px;
    box-shadow: 2px 2px 4px #000000;
}